<div class="home-display">
    <h1 class="title text-primary">
        Proxima
    </h1>
    <p class="italic mb-8">
        Create a project to receive 1 album a day from a list of 1001 currated Albums 
    </p>

    <h3>
        Start a new Listening Project
    </h3>

    <%= form_with model: @project do |form| %>
        <div class="join my-4">
            <div class="w-64">
                <label for="project_name" class="input join-item">
                    <%= form.text_field :name, placeholder: 'Project name', required: true %>
                </label>
            </div>
            <%= form.submit "Create", class: "btn btn-primary join-item" %>
        </div>
    <% end %>

    <h3>
        Find an existing project
    </h3>

    <%= form_with url: search_projects_path, method: :get, local: true do |form| %>
        <div class="join my-4">
            <div class="w-64">
                <label for="name_slug" class="input join-item">
                    <%= form.text_field :name_slug, placeholder: "my-project-name", required: true %>
                </label>
            </div>
            <%= form.submit "Find", class: 'btn btn-primary join-item' %>
        </div>

        <% if flash[:alert] %>
            <p style="color: red;" %><%= flash[:alert] %></p>
        <% end %>
    <% end %>
</div>
