<div class="project-display">
    <h1><%= @project.name %></h1>

    <h2>Today's Album</h2>
    <div class="album-box"></div>
    <h3>Album title: <%= @todays_album.title %></h3>
    <h3>Artist name: <%= @todays_album.artist %></h3>
    <h3><%= link_to "View Album on Spotify", @todays_album.spotify_link %></h3>

    <%= form_with model: [@project_album, Rating.new], local: true do |form| %>
        <div class=rating gap-1>
            <% (1..5).each do |star| %>
                <%= form.radio_button :stars, star, class: 'mask mask-star bg-lime-400 me-2', checked: (star == @project_album.rating&.stars) %>
            <% end %>
        </div>

        <%= form.submit "Rate" %>
    <% end %>

    <% if flash[:alert] %>
        <div role="alert" class="alert alert-success alert-soft">
            <span><%= flash[:alert] %></span>
        </div>
    <% end %>
</div>